/*
*****************************************************************************
Header
*****************************************************************************
*/

header {
    position: fixed;
    top: 0;
    left: 0;
    max-height: 80px;
    background-color: var(--aecolor-blanco);
}

header nav {
    flex-grow: 1;
}

header span,
header div {
    flex-grow: 1;
}

header div {
    max-height: min-content;
    padding: 30px;
}

header img {
    max-height: 100%;
    min-width: 100px;
}

header nav {
    display: flex;
    flex-wrap: nowrap;
}

header nav ul {
    flex-grow: 1;
    vertical-align: center;
    align-content: center;
}

header nav ul a {
    cursor: pointer;
}

/*
*****************************************************************************
Main
*****************************************************************************
*/

main {
    margin: 20vh 0;
    padding: 0 10vw;
}

/*
main #manifiesto {
    margin: 50px 50px;
    text-align: center;
}

main #imagenesPerfil {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main #imagenesPerfil span img {
    max-width: 100%;
    max-height: 50vh;
}


#botonVolver {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: var(--aecolor-gris-intermedio);
    cursor: pointer;
    font-size: 0.85em;
}

#botonVolver:hover {
    transition: 0.5s;
    color: var(--aecolor-negro);
}*/

main iframe {
    width: 100%;
    height: 100%;
}

.OverlayClickeableTrabajo::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
}

#modalCanvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(20, 20, 20, .9);
    padding: auto;
}

#modalCerrar {
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 15px;
    background-color: var(--aecolor-gris-claro);
    cursor: pointer;
    border-radius: 50%;
}

#modalCerrar:hover {
    transition: 0.5s;
    color: var(--aecolor-negro);
    background-color: var(--aecolor-blanco);
}

#modalCerrar p {
    position: relative;
    top: -1px;
    width: 15px;
    height: 15px;
    text-align: center;
    margin: 0;
    padding: 0;
}



#modalVisor {
    position: absolute;
    top: 10vh;
    left: 25vw;
    width: 50vw;
    height: 80vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

#modalVisor img,
#modalVisor iframe {
    margin: 0;
    padding: 0;
    max-height: 100%;
}

#mainTextBlock, #Nosotros {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#mainTitle {
    font-family: '';
    font-weight: 800;
}


#mainBotonera {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    margin: 1em 0;
}


#mainShowcase {
    display: flex;
    flex-direction: column;
    color: var(--aecolor-blanco);
}

#mainShowcase section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    align-content: center;
}


.showcase2Box,
.showcaseBox {
    height: 300px;
    margin: 5px;
    background-color: var(--aecolor-gris-oscuro);
    text-align: center;
    background-size: cover;
    background-position: center center;
}


.showcaseBox {
    /*flex-grow: 1;*/
    flex: 1 0 25%;
}

.showcase2Box {
    /*flex-grow: 2;*/
    flex: 2 0 50%;
}

.showcase2Box img,
.showcaseBox img {
    display: none !important;
}

.showcase2Box:hover,
.showcaseBox:hover {
    transition: 0.5s ease-out;
    opacity: 0.5;

}


#Nosotros{
    margin-top: 20vh;
}

#Nosotros h3, #Nosotros p, #Nosotros article{
    margin-top: 20px;
}

#Nosotros #disenadores{
    display: flex;
    flex-direction: row;
}

#Nosotros #disenadores span{
    flex-grow: 1;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Nosotros article span div{
    flex-grow: 1;
}

#Nosotros #disenadores span #imagenesDisenadores{
    flex-grow: 1;
    height: 80vh;
    background-color: var(--aecolor-gris-oscuro);
    background-size: cover;
    background-position: center center;
}

#Nosotros #disenadores span p{
    font-size: 0.8em !important;
}

/*
*****************************************************************************
Footer
*****************************************************************************
*/

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

footer p {
    padding-left: 30px;
    flex-grow: 2;
}

footer ul {
    flex-grow: 1;

}


footer ul img {
    width: 25px;
}


/*
*****************************************************************************
Clases adicionales
*****************************************************************************
*/


.boton {
    padding: 10px;
    background-color: var(--aecolor-blanco);
    border: 1px solid var(--aecolor-gris-oscuro);
    border-radius: 4px;
    align-self: center;
    flex-grow: 1;
    text-align: center;
    font-size: 1em;
}